.company-contents {
  margin-top: 80px;
}

.company-contents .wrapper {
  width: 1080px;
}

@media (max-width: 768px) {
  .company-contents .wrapper {
    width: 90%;
  }
}

.company-contents .wrapper table {
  width: 100%;
}

.company-contents .wrapper table tr {
  line-height: 4;
  border-bottom: 1px solid #222;
}

.company-contents .wrapper table tr:first-child {
  border-top: 1px solid #222;
}
