h1, h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.service_btn {
  color: #fff;
  font-weight: bold;
  width: 300px;
  padding: 15px 10px;
  background: #cd0224;
  display: block;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.eyecatch {
  background: url(../img/mv.png) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  text-align: center;
}

.eyecatch .eyecatch__box .eyecatch__ttl {
  font-size: 3.3rem;
  font-weight: bold;
  color: #fff;
}

.eyecatch .eyecatch__box .eyecatch__text {
  color: #fff;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.3rem;
}

.feature {
  background: #222;
  color: #fff;
  padding: 85px 0;
}

@media (max-width: 768px) {
  .feature .wrapper {
    width: 80%;
  }
}

.feature .wrapper .feature__ttl {
  text-align: left;
}

.feature .wrapper .feature__text {
  line-height: 1.5;
  margin-top: 30px;
}

.service {
  margin: 90px 50px;
}

@media (max-width: 768px) {
  .service {
    margin: 90px 0;
  }
}

@media (max-width: 768px) {
  .service .wrapper {
    width: 85%;
  }
}

.service .wrapper .service__container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .service .wrapper .service__container {
    display: block;
  }
}

.service .wrapper .service__container .service__box {
  width: 45%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .service .wrapper .service__container .service__box {
    width: 100%;
  }
}

.service .wrapper .service__container .service__box img {
  width: 100%;
}

.service .wrapper .service__container .service__box .service__box-ttl {
  margin-top: 10px;
}

.service .wrapper .service__container .service__box .service__box-text {
  margin-top: 10px;
  line-height: 1.5;
}

.news {
  background-color: #222;
  padding: 70px 0;
}

@media (max-width: 768px) {
  .news .wrapper {
    width: 90%;
  }
}

.news .wrapper .news__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news .wrapper .news__head .news__ttl {
  color: #fff;
}

.news .wrapper .news__head .news__link {
  color: #fff;
  font-weight: bold;
  width: 150px;
  padding: 10px 10px;
  background-color: #cd0224;
  display: block;
  margin-left: auto;
  text-align: center;
  font-size: .9rem;
}

.news .wrapper .news__list {
  margin-top: 30px;
}

.news .wrapper .news__list .news__item {
  display: block;
  background: #fff;
  color: inherit;
  padding: 25px 15px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .news .wrapper .news__list .news__item {
    padding: 15px 10px;
    font-size: .9rem;
  }
}

.news .wrapper .news__list .news__item .news__text {
  font-weight: bold;
  padding-left: 10px;
}

.blog {
  margin: 85px 0 75px;
}

@media (max-width: 768px) {
  .blog .wrapper {
    width: 90%;
  }
}

.blog .wrapper .blog__container {
  margin: 30px 0 50px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .blog .wrapper .blog__container {
    display: block;
  }
}

.blog .wrapper .blog__container .blog__box {
  width: 32%;
}

@media (max-width: 768px) {
  .blog .wrapper .blog__container .blog__box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .blog .wrapper .blog__container .blog__box:not(:last-child) {
    margin-bottom: 20px;
  }
}

.blog .wrapper .blog__container .blog__box .blog__img img {
  width: 100%;
  height: auto;
}

.blog .wrapper .blog__container .blog__box .blog__data {
  margin-top: 15px;
  font-size: 0.9rem;
}

.blog .wrapper .blog__container .blog__box .blog__text {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

.blog .wrapper .blog__container .blog__box .blog__text a {
  color: inherit;
}

.company {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
}

.company a {
  display: block;
  width: 50%;
  font-size: 1.5rem;
  color: #fff;
  line-height: 10;
}

.company .company__item {
  background-color: #cd0224;
}

.company .company__recruit {
  background-color: #222;
}
